@model Blog.Models.Post

@{
    ViewBag.Title = "Post";
}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">@Model.Title</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">@Model.User.UserName</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Publicado en @Model.PostDate.ToString("MMMM") @Model.PostDate.Day, @Model.PostDate.Year a las @Model.PostDate.Hour:@Model.PostDate.Minute</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        @Html.Raw(Model.Content)

        <hr>

        @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.AntiForgeryToken()
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Publicar un comentario:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="Content"></textarea>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            <button type="submit" class="btn btn-primary">Publicar</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" onclick="$('#loginModal').modal('show')">Publicar</button>
                        }
                    </form>
                </div>
            </div>
        }

        @foreach (var comment in Model.Comments)
        {
            if (comment.NestedComments.Count == 0)
            {
                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-0">@comment.User.UserName</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @comment.Content
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-start">
                                    <i class="material-icons md-18">thumb_up_alt</i>
                                    <i class="material-icons md-18">thumb_down_alt</i>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <small>@comment.CommentDate.ToString("dd/MM/yy")</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@comment.User.UserName</h5>
                        @comment.Content

                        @foreach (var nestedComment in comment.NestedComments)
                        {
                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">@nestedComment.User.UserName</h5>
                                    @nestedComment.Content
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }
        }

    </div>



</div>
<!-- /.row -->